# Ignore virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# macOS metadata files
.DS_Store

# Streamlit config cache
.streamlit/config.toml
